.Post_conteudo {
    margin: 0;
    padding: 0;
}

.Post_conteudo img {
  height: 450px;
  width: 450px;
  padding-left: 40px;
  padding-right: 50px;  

}

.Post_rodape {
    display: flex;
    flex-direction: row;
}

.Post_curtida {
    height: 50px;
    width: 50px;
}

.Post_comentario{
    height: 50px;
    width: 50px;
}

.Post_compartilhar{
    height: 50px;
    width: 50px;
}

.caixinha{
    display: flex;
    flex-direction: row;
}